<table class="table table-striped" style="border: 1px solid;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Photo Profile</th>
            <th>Age</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        <% users.map((user)=> { %>
            <tr>
                <td>
                    <%= user.firstName %>
                </td>
                <td>
                    <img src="<%= user.photoProfile %>" alt="Profile photo" class="rounded mx-auto d-block"
                        style="width: 200px; height: 200px;">
                </td>
                <td>
                    <%= user.age %>
                </td>
                <td>
                    <%= user.phoneNumber %>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>